body {
    background-color: rgb(235, 245, 241);
}

.selected {
    transform: scale(0.8); 
}

/* .selected::before {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.24);
    z-index: 1;
} */